<div class='w-full flex gap-2'>
  <div class='w-2/5 md:w-3/5 bg-gray-100 p-4'>
    name
  </div>
  <div class='w-2/5 md:w-1/5 bg-gray-100 p-4'>
    started_on
  </div>
  <div class='w-1/5 bg-gray-100 p-4 flex gap-4'>
    <div class='flex justify-center items-center'>
      <%= link_to 'View', '#' %>
    </div>
  </div>
</div>
