<div class='flex flex-col border border-solid border-gray-300  gap-8 p-8 rounded-xl'>
  <div class='text-xl flex flex-gap items-center gap-2'>
    <%= heroicon('bell', class_name: 'h-4') %> Notifications
  </div>
</div>
