<div class="animate__animated animate__fadeIn flex items-center text-white max-w-sm w-full shadow-md rounded-lg overflow-hidden mx-auto <%= background_color_class %>" data-controller='toast'>
  <div class='w-10 border-r px-2'>
    <%= heroicon(icon_name) %>
  </div>

  <div class='flex items-center px-2 py-3'>
    <div class='mx-3'>
      <p><%= @message %></p>
    </div>
  </div>
</div>
