<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing requirement</h1>

  <%= render "form", requirement: @requirement %>

  <%= link_to "Show this requirement", @requirement, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to requirements", project_requirements_path(@requirement.project), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
