<%= render layout: 'layouts/project', locals: { title: 'Edit' } do %>
  <div class='flex flex-col gap-4'>
    <div class="w-full">
      <%= render "form", project: @project %>
    </div>
    <div>
      <%= turbo_frame_tag :tags, src: project_project_tags_path(@project) %>
    </div>
  </div>
<% end %>
