<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">My Projects</h1>
    <%= link_to 'New project', new_project_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="projects" class="min-w-full">
    <% @projects.each do |project| %>
      <div class='text-3xl'><%= link_to project.title, project, class: 'hover:text-gray-500 hover:text-4xl' %></div>
    <% end %>
  </div>

</div>
