<div class="lg:text-center">
  <h2 class="text-base text-brand font-semibold tracking-wide uppercase">For Developers</h2>
  <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Spend more time building and less time project planning</p>
  <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Showcase allows you to find user submitted project ideas to complete, get feedback, and flex your developer muscles.</p>
</div>

<div class="mt-10">
  <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
    <div class="relative">
      <%= render_feature(:project_finder, 'landing_page') %>
    </div>

    <div class="relative">
      <%= render_feature(:submit_solutions, 'landing_page') %>
    </div>

    <div class="relative">
      <%= render_feature(:provide_feedback, 'landing_page') %>
    </div>

    <div class="relative">
      <%= render_feature(:submit_projects, 'landing_page') %>
    </div>
  </dl>
</div>
