<div class='w-full lg:w-1/2'>
  <p class="text-indigo-600 mt-2 text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl">Pricing</p>
  <div class='mt-4'>
    <p>Showcase is free for individuals who just want to solve new problems. If you want to host private projects that only you approve can contribute to, then a team subscription may be right for you.</p>
  </div>
</div>
<div class="w-full lg:w-1/2 px-4 sm:px-6 lg:px-8">
  <div class="w-full lg:mt-0 mt-12 md:px-8" role="list">
    <div role="listitem" class="bg-white cursor-pointer shadow rounded-lg mt-3 flex relative z-30">
      <div class="w-2.5 h-auto bg-indigo-700 rounded-tl-md rounded-bl-md"></div>
      <div class="w-full p-8">
        <div class="flex flex-col lg:flex-row">
          <div class='w-full'>
            <h2 class="text-2xl font-semibold leading-6 text-gray-800">Personal</h2>
          </div>
          <div class='w-full'>
            <p class="text-2xl font-semibold leading-6 text-gray-800"><span class="font-normal text-base">FREE</span></p>
          </div>
        </div>
      </div>
    </div>
    <div role="listitem" class="bg-white cursor-pointer shadow rounded-lg mt-3 flex relative z-30">
      <div class="w-full p-8">
        <div class="flex flex-col lg:flex-row">
          <div class='w-full'>
            <h2 class="text-2xl font-semibold leading-6 text-gray-800">Team</h2>
          </div>
          <div class='w-full'>
            <p class="text-2xl font-semibold leading-6 text-gray-800"><span class="font-normal text-base">$5/Private Project</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
