<%= render partial: 'jumbo' %>
<div class='w-full mt-16'>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="py-12 bg-gray-100 rounded">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <%= render partial: 'for_developers' %>
    </div>
  </div>
</div>

<div class='w-full'>
  <div class="py-12 bg-white">
    <div class='flex flex-col lg:flex-row p-4 rounded'>
      <%= render partial: 'pricing' %>
    </div>
  </div>
</div>

<div class='w-full'>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="py-12 bg-gray-100 rounded">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <%= render partial: 'for_teams' %>
    </div>
  </div>
</div>
