<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @project_submission %>

    <%= link_to 'Edit', [:edit, @project_submission], class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy', project_submission_path(@project_submission), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to submissions', project_project_submissions_path(@project), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
